<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>209516928252-jupg5hi99kpjlu75bq4q2btvhli4si0o.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.209516928252-jupg5hi99kpjlu75bq4q2btvhli4si0o</string>
	<key>API_KEY</key>
	<string>AIzaSyA0Z4cKg3KOnnN_oad4v_ETjk5tTy6S5v8</string>
	<key>GCM_SENDER_ID</key>
	<string>209516928252</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.app.alfa</string>
	<key>PROJECT_ID</key>
	<string>alfa-e718f</string>
	<key>STORAGE_BUCKET</key>
	<string>alfa-e718f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:209516928252:ios:5949dc1227de6629864b79</string>
	<key>DATABASE_URL</key>
	<string>https://alfa-e718f-default-rtdb.firebaseio.com</string>
</dict>
</plist>